[submodule "Challenge_4_REAL"]
	path = Challenge_4_REAL
	url = https://github.com/starboi23/Challenge4.git
[submodule "Challenge_5_REAL"]
	path = Challenge_5_REAL
	url = https://github.com/starboi23/Challenge5.git
